<h2 class="text-center">Transactions</h2>

<div class="background">
    <div class="pt-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card rounded-4 shadow-lg">
                        <div class="card-body">
                            <div class="table-responsive" >
                                <table id="walletHistoryTable" class="table">
                                </table>
                            </div>
                            <div class="table-responsive" *ngIf="!transactions">
                                <h4 class="text-center">You have a no transactions.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>